# Модели и подключение
EMBEDDING_MODEL=nomic-embed-text
LLM_MODEL=qwen2.5:7b
OLLAMA_BASE_URL=http://localhost:11434

# Бот
TELEGRAM_BOT_TOKEN=123

# Параметры LLM
REASONING=False
CONTEXT_LENGTH=8192
CHAT_MESSAGES_LIMIT=10
TEMPERATURE=0.2
SEED=42
NUM_PREDICT=2048

# Параметры чанкера
CHUNK_SIZE=1500
CHUNK_OVERLAP=200

# Параметры поиска
FAISS_K=10
BM25_K=10